    <nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-center">
        <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-outline-primary me-2" type="button" routerLink="/home">Inicio</button>
                </li>
                <form class="container-fluid justify-content-start">
                    <button class="btn btn-outline-success me-2" type="button" routerLink="/add">Nuevo</button>
                </form>
        </ul>
    </nav>



