<div class="container-sm">
    <h2>Registrar nuevo Item</h2>
    <form action="" (ngSubmit)="onSubmit()">
    
        <div class="mb-3">
            <label for="" class="form-label">ID</label>
            <input type="text" class="form-control" id="" name="id" [(ngModel)]="id">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="" name="title" [(ngModel)]="title">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Precio</label>
            <input type="text" class="form-control" id="" name="price" [(ngModel)]="price">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Cantidad</label>
            <input type="text" class="form-control" id="" name="quantity" [(ngModel)]="quantity">
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>



